:root {
    --color-grey-light: #F6F6F6;
;
    --color-green-light: #99E2D0;
    --color-green-dark: #008766;

    --color-background: var(--color-grey-light);

    --font-default: "Roboto", serif;
    --font-title: "Shrikhand", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: var(--font-default);
    background-color: var(--color-background);
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

.button {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 19px;
    color: #FFFFFF;
    background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%); */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border: 0;
    border-radius: 25px;
    /*transform: matrix(1, 0, 0, -1, 0, 0);*/
}

.button:hover {
    opacity: 85%;
    /* Button Gradient */
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    /* Shadow/Button */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}


/*
 * Composant Favoris (coeur cliquable)
 */
div.favorite {
    input {
        display: none;
    }

    input + label i {
        /* position: absolute;
        right: 25px;
        bottom: 22px; */
        font-size: 30px;
        cursor: pointer;

        &.fa-solid {
            color: transparent;
            background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            background-clip: text;
        }
    }

    input:checked + label {
        i.fa-regular { display: none; }
        i.fa-solid { display: inline; }
    }

    input:not(:checked) + label {
        i.fa-regular { display: inline; }
        i.fa-solid { display: none; }
    }
}


section {
    padding: 40px 17px;

    h2 {
        margin-bottom: 25px;
    }
}

header {

    div:nth-child(1) {
        position: relative;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        z-index: 999;

        #main-logo {
            font-family: var(--font-title);
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
        }
    }

    div:nth-child(2) {
        position: relative;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        background-color: #EAEAEA;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        color: #353535;
        z-index: 100;

        i,
        input {
            color: #353535;
        }

        input {
            width: 108px;
            background-color: transparent;
            border: 0;
            font-weight: 500;
            font-size: 16px;
        }
    }

}

main {

    .photo_resto{
        padding: 0;
        display: flex;

        img{
            width: 100%;
            object-fit: cover;
        }
    }

    section:nth-child(1) {
        text-align: center;

        h1 {
            font-size: 24px;
            font-weight: 700;
            @media screen and (min-width: 768px) {
                font-size: 40px;
            }

        }

        p {
            margin-bottom: 27px;
            font-weight: 300;

            @media screen and (min-width: 768px) {
                font-size: 18px;
            }
        }
    }

    .section-fct {
        background-color: #FFFFFF;
    }

    section:nth-child(2) {
        ol {
            counter-reset: toto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            list-style: none;
            padding-left: 14px;

            @media screen and (min-width: 870px) {
                flex-direction: row;
            }

            li {
                width: 100%;
                padding: 20px;
                background-color: #F6F6F6;
                border-radius: 20px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                font-weight: 500;

                /* @media screen and (min-width: 768px) {
                    width: 100%;
                } */

                i {
                    color: #7E7E7E;
                    margin-right: 15px;
                    margin-left: -20px;
                }
            }

            li::before {
                position: relative;
                left: -34px;
                counter-increment: toto;
                content: counter(toto);
                background-color: #9356dc;
                padding: 5px 10px;
                border-radius: 100%;
                color: #FFFFFF;
            }
        }

    }

    section:nth-child(3) {


        .restaurants {
            display: grid;
            grid-template-columns: 1fr;
            gap: 18px;

            @media screen and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (min-width: 1024px) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            a {
                color: #000000;
            }

            .restaurant {
                position: relative;
                background-color: #FFFFFF;
                border-radius: 15px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 174px;
                    object-fit: cover;
                }

                div:first-child {
                    position: relative;

                    .tag-new {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        padding: 9px 7px;
                        border-radius: 2px;
                        color: var(--color-green-dark);
                        background-color: var(--color-green-light);
                    }
                }

                div.title {
                    padding: 16px 13px;
                    display: flex;
                    flex-direction: column;
                }

                h1 {
                    font-size: 18px;
                    font-weight: 700;
                }

                p {
                    font-size: 17px;
                    font-weight: 300;
                }

                .favorite {
                    position: absolute;
                    right: 25px;
                    bottom: 22px;
                }
            }

        }

    }

}



.resto-main{
    background-color: var(--color-grey-light);
    border-radius: 25px 25px 0 0;

    @media screen and (min-width: 1440px) {
        width: 1055px;
        margin: auto;
    }

}


.resto-header {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-title);
    font-size: 16px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        gap: 25px;
        font-size: 28px;
    }

    @media screen and (min-width: 1440px) {
        justify-content: center;
        gap: 25px;
        font-size: 28px;
    }
}

.menu-form {

    .menu-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;

        @media screen and (min-width: 1440px) {
            padding: 0px 210px;
        }

        h2::after {
            content: '';
            display: block;
            width: 40px;
            height: 4px;
            background-color: var(--color-green-light);
            margin-top: 6px;
            margin-bottom: 12px;
        }

        input {
            display: none;
        }

        label {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #FFFFFF;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

            .label-title {
                padding: 5px 10px;
                overflow: hidden;
                div {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .label-price {
                display: flex;
                flex-direction: row;
                background-color: #FFFFFF;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10px;
                }
                div:nth-child(2) {
                    width: 59px;
                    color: #FFFFFF;
                    background-color: var(--color-green-light);
                }
            }
        }

        input + label .label-price {
            margin-right: -59px;
            transition: margin-right .5s;
        }

        input + label:hover .label-price,
        input:checked + label .label-price {
            margin-right: 0;
        }
    }
}

.headerClass{
    position: absolute;
    left: 20px;
}

.headerClass:hover{
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.form-submit {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

footer {
    color: #FFFFFF;
    background-color: #353535;
}