:root {
    --color-grey-light: #D2D2D2;
    --color-green-light: #99E2D0;
    --color-green-dark: #008766;

    --color-background: var(--color-grey-light);

    --font-default: "Roboto", serif;
    --font-title: "Shrikhand", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: var(--font-default);
    background-color: var(--color-background);
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}


/*
 * Composant Favoris (coeur cliquable)
 */
div.favorite {
    input {
        display: none;
    }

    input + label i {
        /* position: absolute;
        right: 25px;
        bottom: 22px; */
        font-size: 30px;
        cursor: pointer;

        &.fa-solid {
            color: transparent;
            background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            background-clip: text;
        }
    }

    input:checked + label {
        i.fa-regular { display: none; }
        i.fa-solid { display: inline; }
    }

    input:not(:checked) + label {
        i.fa-regular { display: inline; }
        i.fa-solid { display: none; }
    }
}


section {
    padding: 60px 17px;

    h2 {
        margin-bottom: 25px;
    }
}

header {

    div:nth-child(1) {
        position: relative;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        z-index: 999;

        #main-logo {
            font-family: var(--font-title);
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
        }
    }

    div:nth-child(2) {
        position: relative;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        background-color: #EAEAEA;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        color: #353535;
        z-index: 100;

        i,
        input {
            color: #353535;
        }

        input {
            width: 108px;
            background-color: transparent;
            border: 0;
            font-weight: 500;
            font-size: 16px;
        }
    }

}

main {

    section:nth-child(1) {
        text-align: center;

        h1 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 25px;
        }

        a {
            padding: 13px 19px;
            color: #FFFFFF;
            background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            border-radius: 25px;
        }

        a:hover {
            opacity: 85%;
        }
    }

    section:nth-child(2) {
        background-color: #FFFFFF;

        ol {
            counter-reset: toto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            list-style: none;
            padding-left: 14px;

            @media screen and (min-width: 870px) {
                flex-direction: row;
            }

            li {
                width: 100%;
                padding: 20px;
                background-color: #F6F6F6;
                border-radius: 20px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                font-weight: 500;

                /* @media screen and (min-width: 768px) {
                    width: 100%;
                } */

                i {
                    color: #7E7E7E;
                    margin-right: 15px;
                    margin-left: -20px;
                }
            }

            li::before {
                position: relative;
                left: -34px;
                counter-increment: toto;
                content: counter(toto);
                background-color: #9356dc;
                padding: 5px 10px;
                border-radius: 100%;
                color: #FFFFFF;
            }
        }

    }

    section:nth-child(3) {


        .restaurants {
            display: grid;
            grid-template-columns: 1fr;
            gap: 18px;

            @media screen and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (min-width: 1024px) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            a {
                color: #000000;
            }

            .restaurant {
                position: relative;
                background-color: #FFFFFF;
                border-radius: 15px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 174px;
                    object-fit: cover;
                }

                div:first-child {
                    position: relative;

                    .tag-new {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        padding: 9px 7px;
                        border-radius: 2px;
                        color: var(--color-green-dark);
                        background-color: var(--color-green-light);
                    }
                }

                div.title {
                    padding: 16px 13px;
                    display: flex;
                    flex-direction: column;
                }

                h1 {
                    font-size: 18px;
                    font-weight: 700;
                }

                p {
                    font-size: 17px;
                    font-weight: 300;
                }

                .favorite {
                    position: absolute;
                    right: 25px;
                    bottom: 22px;
                }
            }

        }

    }

}


.resto-header {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-title);
    font-size: 16px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        gap: 25px;
        font-size: 28px;
    }
}

.menu-form {

    .menu-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;
        border: 0;
        width: 100%;

        input {
            display: none;
        }

        label {
            display: flex;
            flex-direction: row;
            width: 100%;
            background-color: #FFFFFF;
            border-radius: 15px;
            overflow: hidden;

            .label-title {
                display: flex;
                flex-direction: column;
                padding: 5px 10px;
                white-space: nowrap;
                overflow: hidden;
            }

            .label-price {
                flex-direction: row;

                span, div {
                    padding: 5px 10px;
                }

                div {
                    width: 59px;
                    background-color: var(--color-green-light);
                }
            }
        }

        input + label .label-price {
            position: relative;
            display: flex;
            left: 59px;
            transition: left .5s;
        }

        input:checked + label .label-price {
            left: 0;
        }
    }
}

.headerClass{
    position: absolute;
    left: 20px;
}

.headerClass:hover{
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

footer {
    color: #FFFFFF;
    background-color: #353535;
}